@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #1f242a;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s ease;
}

a:hover {
  text-decoration: none;
}

.py {
  padding: 50px 0;
}

@media (max-width: 768px) {
  .py {
    padding: 30px 0;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .container {
    width: 95%;
  }
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-shadow: 0 0 2px #121212;
}

@media (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
  margin: 10px 0;
}

h4 {
  font-size: 1.5rem;
  margin: 0px 0 10px;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

img {
  width: 100%;
}

hr {
  border: none;
  height: 2px;
  background-color: #e3e3ef;
  margin: 50px auto;
}

@keyframes fadeFromTop {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fadeFromBottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.btn {
  color: #fff;
  font-size: 1.2rem;
  padding: 5px 30px;
  border-radius: 2em;
  display: inline-block;
  transition: 0.4s ease;
  margin-top: 20px;
  text-transform: uppercase;
  margin-right: 20px;
}

.btn span {
  transition: 0.4s ease;
  margin-left: 5px;
}

.btn-orange {
  background-color: #fba60b;
}

.btn-violet {
  background-color: #37287b;
}

.btn-violet:hover {
  background-color: #fba60b;
}

.btn:hover {
  opacity: 0.8;
}

.btn:hover span {
  transform: translateX(10px);
  display: inline-block;
}

.underline {
  width: 150px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.underline div {
  background-color: #37287b;
  border-radius: 4px;
  height: 6px;
}

.underline .item1 {
  flex: 0 0 58%;
}

.underline .item2 {
  flex: 0 0 28%;
}

.underline .item3 {
  flex: 0 0 9%;
}

.lead {
  font-size: 1.3rem;
  font-weight: 300;
}

.featuredImage {
  position: relative;
}

.featuredImage > div {
  position: absolute;
  top: 0;
  right: 35px;
  background-color: #e3e3ef;
  border-radius: 15px;
  padding: 2px 10px;
  transform: translateY(-50%);
  z-index: 9;
}

@media (max-width: 576px) {
  .featuredImage > div {
    font-size: 0.8rem;
  }
}

.featuredImage a {
  overflow: hidden;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0px #878787;
}

.featuredImage img {
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: 1s linear;
}

.featuredImage img:hover {
  transform: scale(130%);
}

.widget {
  background: linear-gradient(to right, #37287b, #4942a2);
  color: #fba60b;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 30px;
}

.widget h4 {
  color: #fff;
}

.widget a:hover {
  color: #878787;
}

/* NAV */
nav {
  background-color: rgba(55, 40, 123, 0.9);
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav.shadow {
  box-shadow: 0px 0 20px #1f242a;
}

nav a:hover {
  color: #fba60b;
}

nav div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav div > a {
  font-size: 3rem;
  font-weight: 700;
}

nav div ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 768px) {
  nav div ul {
    transform: scale(0);
    transform-origin: top right;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(55, 40, 123, 0.9);
    transition: 0.4s ease;
  }
  nav div ul.active {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    transform: scale(1);
  }
}

nav div ul li {
  text-transform: uppercase;
  margin-left: 20px;
}

@media (max-width: 768px) {
  nav div ul li {
    margin: 1em 0px;
  }
}

nav button {
  display: none;
  font-size: 1.8rem;
  padding: 0.1em 0.2em;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
}

nav button:hover {
  color: #fba60b;
}

@media (max-width: 768px) {
  nav button {
    display: block;
  }
}

/* HEADER */
header {
  width: 100%;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  header {
    height: 100vh;
    padding-top: 100px;
  }
}

header.main {
  background-image: url("../img/header.png");
  height: 115vh;
}

header.main article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

header.main article div {
  flex: 0 0 50%;
}

@media (max-width: 992px) {
  header.main article div {
    flex: 0 0 100%;
  }
}

header.main article div h1 {
  animation: fadeFromTop;
  animation-duration: 1s;
}

header.main article div img {
  width: 100%;
  display: block;
}

@media (max-width: 992px) {
  header.main article div img {
    width: 60%;
    margin: 20px auto 0;
    min-width: 250px;
  }
}

header.main article div p {
  font-size: 1.3rem;
  font-weight: 300;
  animation: fadeFromBottom;
  animation-duration: 1s;
}

header.second {
  background-image: url("../img/header-pola.png");
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header.second h1 {
  animation: fadeInRight;
  animation-duration: 1s;
}

/* UVOD */
.uvod {
  text-align: center;
}

.uvod article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
}

.uvod article .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  flex: 0 0 28%;
  min-height: 450px;
  padding: 60px 50px;
  box-shadow: 0px 10px 10px 0px #d8d8d8;
  border-radius: 20px;
  transition: 0.4s ease;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .uvod article .card {
    flex: 0 0 47%;
  }
}

@media (max-width: 768px) {
  .uvod article .card {
    flex: 0 0 100%;
  }
}

.uvod article .card i {
  font-size: 2.5rem;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  color: #121212;
}

.uvod article .card h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.uvod article .card:hover {
  background: linear-gradient(120deg, rgba(55, 40, 123, 0.9), rgba(73, 66, 162, 0.8));
  color: #fff;
}

.uvod article .card:hover i {
  background-color: #fff;
  box-shadow: 0 5px 10px #121212;
}

/* ONAMA */
.onama a {
  color: #4942a2;
}

.onama-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.onama-main article {
  flex: 0 0 48%;
}

@media (max-width: 992px) {
  .onama-main article {
    flex: 0 0 100%;
  }
  .onama-main article img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.onama-secondary article {
  width: 80%;
  margin: 0 auto;
}

.onama-secondary article:last-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.onama-secondary article:last-child div {
  flex: 0 0 49%;
}

@media (max-width: 992px) {
  .onama-secondary article:last-child div {
    flex: 0 0 100%;
  }
}

.onama-secondary article p {
  margin-bottom: 1em;
}

.onama-secondary article ul {
  margin-bottom: 1em;
  list-style: disc;
  list-style-position: outside;
  padding-left: 40px;
}

/* UTISCI */
.utisci {
  background-color: #4942a2;
}

.utisci .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.utisci .container .card {
  flex: 0 0 40%;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border: 1px solid #fba60b;
  top: -3.75rem;
}

@media (max-width: 992px) {
  .utisci .container .card {
    flex: 0 0 100%;
  }
}

.utisci .container .card div {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.utisci .container .card h3 {
  background-color: #fba60b;
  font-size: 1.5rem;
  margin: 0;
  color: #fff;
  text-align: center;
  line-height: 2.5em;
  height: 2.5em;
}

.utisci .container .card h4 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.utisci .container .card small {
  margin-top: 20px;
}

.utisci .container .slider {
  overflow: hidden;
  color: #fff;
  flex: 0 0 58%;
}

@media (max-width: 992px) {
  .utisci .container .slider {
    flex: 0 0 100%;
  }
}

.utisci .container .slider small {
  display: inline-block;
  margin-top: 20px;
}

/* RADIONICE */
.radionice-main h2 {
  text-align: center;
}

.radionice-main article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 50px;
}

.radionice-main article > div {
  flex: 0 0 33%;
  padding: 0 15px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .radionice-main article > div {
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .radionice-main article > div {
    flex: 0 0 100%;
  }
}

.radionice-secondary article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 50px;
}

.radionice-secondary article > div {
  flex: 0 0 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .radionice-secondary article > div {
    flex: 0 0 100%;
  }
}

.radionice-secondary article .featuredImage h3 {
  position: absolute;
  bottom: 0;
  left: 30px;
  transform: translate(0, 50%);
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 25px;
  text-align: left;
  color: #fff;
  background-color: rgba(18, 18, 18, 0.7);
}

@media (max-width: 768px) {
  .radionice-secondary article .featuredImage h3 {
    left: 50%;
    transform: translate(-50%, 50%);
    width: 90%;
  }
}

@media (max-width: 576px) {
  .radionice-secondary article .featuredImage h3 {
    font-size: 1.3rem;
  }
}

/* FOOTER */
footer {
  background-color: #1f242a;
  color: #fff;
}

footer article:first-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

footer article:first-child > div {
  flex: 0 0 30%;
}

@media (max-width: 992px) {
  footer article:first-child > div {
    flex: 0 0 47%;
  }
}

@media (max-width: 768px) {
  footer article:first-child > div {
    flex: 0 0 100%;
  }
}

footer article:first-child > div img {
  width: 80%;
  min-width: 250px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  footer article:first-child > div img {
    width: 50%;
  }
}

footer article:first-child > div p {
  margin-bottom: 20px;
}

footer article:first-child > div a:hover {
  color: #fba60b;
}

footer article:first-child > div i {
  font-size: 2.3rem;
  margin-right: 5px;
  transition: 0.4s ease;
}

@media (max-width: 992px) {
  footer article:first-child > div i {
    font-size: 1.5rem;
  }
}

footer article:first-child > div i:hover {
  color: #878787;
}

footer article:last-child {
  border-top: 1px solid #878787;
  text-align: center;
  padding: 40px 0 100px;
}

/* BLOG */
.blog article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 50px;
}

.blog article > div {
  flex: 0 0 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .blog article > div {
    flex: 0 0 100%;
  }
}

.blog article h3 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0px;
  border-radius: 25px;
  width: 90%;
  text-align: center;
  color: #fff;
  background-color: rgba(18, 18, 18, 0.7);
}

@media (max-width: 576px) {
  .blog article h3 {
    font-size: 1.3rem;
  }
}

/* SINGLE PAGE */
.single {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.single article {
  flex: 0 0 68%;
}

@media (max-width: 768px) {
  .single article {
    flex: 0 0 100%;
  }
}

.single article cite {
  margin: 1em 0;
}

.single article h3 {
  margin-top: 10px;
}

.single article p {
  text-align: justify;
  margin-bottom: 1em;
}

.single aside {
  flex: 0 0 30%;
}

@media (max-width: 768px) {
  .single aside {
    flex: 0 0 100%;
  }
}

.single .featuredImage {
  margin-bottom: 20px;
}

.single .featuredImage img {
  box-shadow: 0 10px 20px 0px #878787;
}

.single .featuredImage img:hover {
  transform: unset;
}

.single-radionica h4 {
  font-weight: 800;
}

.single-radionica h5 {
  font-weight: 800;
  margin: 0 0 1em;
}

.single-radionica h6 {
  margin: 0 0 1em;
  font-weight: 800;
}

.single-radionica hr {
  margin: 20px auto;
  background-color: #878787;
}
/*# sourceMappingURL=style.css.map */