// RESET STYLE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BASIC STYLE
html {
  scroll-behavior: smooth;
}
body {
  font-family: $textFont;
  color: $textColor;
  line-height: 1.6;
  font-size: $fontSize;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $textFont;
  font-weight: 400;
  line-height: 1.3;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color $transition;
  &:hover {
    text-decoration: none;
  }
}

.py {
  padding: $py;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
}
.container {
  width: $containerWidth;
  max-width: 1140px;
  margin: 0 auto;
  @media (max-width: 1140px) {
    width: 95%;
  }
}
