@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
$textFont: "Open Sans", sans-serif;
$fontSize: 16px;

$primary: #37287b;
$secondary: #4942a2;
$accents: #fba60b;
$black: #121212;
$white: #fff;
$gray: #878787;
$textColor: #1f242a;
$shadow: #d8d8d8;
$lightGray: #e3e3ef;

$transition: 0.4s ease;

$boxShadow: 0 10px 20px 0px rgba($gray, 1);

$py: 50px 0;
$containerWidth: 100%;
